







/*//////////////////////////////////////////////////////////////////

[ FONT ]*/



@font-face {

  font-family: Poppins-Regular;

  src: url('../fonts/poppins/Poppins-Regular.ttf'); 

}



@font-face {

  font-family: Poppins-Medium;

  src: url('../fonts/poppins/Poppins-Medium.ttf'); 

}



@font-face {

  font-family: Poppins-Bold;

  src: url('../fonts/poppins/Poppins-Bold.ttf'); 

}









/*//////////////////////////////////////////////////////////////////

[ RESTYLE TAG ]*/



* {

	margin: 0px; 

	padding: 0px; 

	box-sizing: border-box;

}



body, html {

	height: 100%;

	font-family: Poppins-Regular, sans-serif;

}



/*---------------------------------------------*/

a {

	font-family: Poppins-Regular;

	font-size: 14px;

	line-height: 1.7;

	color: #666666;

	margin: 0px;

	transition: all 0.4s;

	-webkit-transition: all 0.4s;

  -o-transition: all 0.4s;

  -moz-transition: all 0.4s;

}



a:focus {

	outline: none !important;

}



a:hover {

	text-decoration: none;

	color: #57b846;

}



/*---------------------------------------------*/

h1,h2,h3,h4,h5,h6 {

	margin: 0px;

}



input{

  border-color: solid rgba(0, 0, 0, 0.75);
   text-decoration-color: solid rgba(0, 0, 0, 0.75);
  color: rgba(0, 0, 0, 0.75);

}









#comentarios{

  width: 80%;

  height: 80px;



}






input[type="text"],

  input[type="password"],

  input[type="email"],

textarea{

  -moz-appearance: none;

    -webkit-appearance: none;

    -ms-appearance: none;

    appearance: none;

    -moz-transform: scale(1);

    -webkit-transform: scale(1);

    -ms-transform: scale(1);

    transform: scale(1);

  

    background-color: transparent;

    border-radius: 6px;

    border: none;

    border: solid 2px rgba(0, 0, 0, 0.5);

    

    display: block;

    outline: 0;

    padding: 0 1em;

   color:rgba(0, 0, 0, 1);
    width: 40%;

}



input[type="text"]:focus,

    input[type="checkbox"],

    input[type="password"]:focus,

    input[type="email"]:focus,

textarea:focus {

     
    

    background-color:  rgba(0, 113, 255, 0.2);

    border-radius: 6px;

    border: solid 2px rgba(0, 0, 0, 0.5);

    color: rgba(0, 0, 0, 0.9);

    }



/*           Button !!!!!!    */



  input[type="submit"],

  input[type="reset"],

  input[type="button"],

  button,

  .button {

    -moz-appearance: none;

    -webkit-appearance: none;

    -ms-appearance: none;

    appearance: none;

    -moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, opacity 0.2s ease-in-out;

    -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, opacity 0.2s ease-in-out;

    -ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, opacity 0.2s ease-in-out;

    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, opacity 0.2s ease-in-out;

    background-color:  rgba(54, 129, 198, 0.9);

    border-radius: 6px;

    border: 0;

    color: #ffffff !important;

    cursor: pointer;

    display: inline-block;

    font-weight: 700;

    height: 2.75em;

    line-height: 2.75em;

    padding: 0 1.125em;

    text-align: center;

    text-decoration: none;

    white-space: nowrap;

  }



    input[type="submit"]:hover,

    input[type="reset"]:hover,

    input[type="button"]:hover,

    button:hover,

    .button:hover {

      background-color: #1fcaa7;

    }



    input[type="submit"]:active,

    input[type="reset"]:active,

    input[type="button"]:active,

    button:active,

    .button:active {

      background-color: #199e83;

    }



    input[type="submit"].disabled, input[type="submit"]:disabled,

    input[type="reset"].disabled,

    input[type="reset"]:disabled,

    input[type="button"].disabled,

    input[type="button"]:disabled,

    button.disabled,

    button:disabled,

    .button.disabled,

    .button:disabled {

      opacity: 0.5;

    }



    @media screen and (max-width: 480px) {



      input[type="submit"],

      input[type="reset"],

      input[type="button"],

      button,

      .button {

        padding: 0;

      }



    }





table, td,th,tr,thead{                /* Type *//* Type *//* Type *//* Type *//* Type *//* Type *//* Type *//* Type *//* Type *//* Type *//* Type */

    color: rgba(255, 255, 255, 0.75);

    font-family: "Roboto", sans-serif;

    font-size: 15pt;

    font-weight: 400;

    letter-spacing: -0.01em;

    line-height: 1em;

    padding: 8px;

    



  }

  th{

        text-align: center;



  }

  td{

        text-align: left;



  }



td, th{

    color: rgba(0, 0, 0, 0.55);

    font-family: "Roboto", sans-serif;

    font-size: 16pt;

    font-weight: 400;

    letter-spacing: -0.01em;

    line-height: 1em;

    border-collapse: separate;

    border-spacing: 5px 10px;

}



p {

	font-family: Poppins-Regular;

	font-size: 14px;

	line-height: 1.7;

	color: #666666;

	margin: 0px;

}



ul, li {

	margin: 0px;

	list-style-type: none;

}





/*---------------------------------------------*/

input {

	outline: none;

	border: none;

}



textarea {

  outline: none;
  text-decoration-color:  rgba ( 0, 0, 0, 1 );
  color: rgba ( 0, 0, 0, 1 );
  border: none;

}



textarea:focus, input:focus {

  border-color: transparent !important;

}





/*---------------------------------------------*/

button {

	outline: none !important;

	border: none;

	background: transparent;

}



button:hover {

	cursor: pointer;

}



iframe {

	border: none !important;

}







.footer-distributed{

  background-color: #000000;

  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);

  box-sizing: border-box;

  width: 100%;

  text-align: left;

  font: bold 16px sans-serif;

  padding: 55px 50px;

  

}



.footer-distributed .footer-left,

.footer-distributed .footer-center,

.footer-distributed .footer-right{

  display: inline-block;

  vertical-align: top;

}



/* Footer left */



.footer-distributed .footer-left{

  width: 40%;

}



/* The company logo */



.footer-distributed h3{

  color:  #ffffff;

  font: normal 36px 'Cookie', cursive;

  margin: 0;

}



.footer-distributed h3 span{

  color:  #5383d3;

}



/* Footer links */



.footer-distributed .footer-links{

  color:  #ffffff;

  margin: 20px 0 12px;

  padding: 0;

}



.footer-distributed .footer-links a{

  display:inline-block;

  line-height: 1.8;

  text-decoration: none;

  color:  inherit;

}



.footer-distributed .footer-company-name{

  color:  #8f9296;

  font-size: 14px;

  font-weight: normal;

  margin: 0;

}



/* Footer Center */



.footer-distributed .footer-center{

  width: 35%;

}



.footer-distributed .footer-center i{

  background-color:  #33383b;

  color: #ffffff;

  font-size: 25px;

  width: 38px;

  height: 38px;

  border-radius: 50%;

  text-align: center;

  line-height: 42px;

  margin: 10px 15px;

  vertical-align: middle;

}



.footer-distributed .footer-center i.fa-envelope{

  font-size: 17px;

  line-height: 38px;

}



.footer-distributed .footer-center p{

  display: inline-block;

  color: #ffffff;

  vertical-align: middle;

  margin:0;

}



.footer-distributed .footer-center p span{

  display:block;

  font-weight: normal;

  font-size:14px;

  line-height:2;

}



.footer-distributed .footer-center p a{

  color:  #5383d3;

  text-decoration: none;;

}





/* Footer Right */



.footer-distributed .footer-right{

  width: 20%;

}



.footer-distributed .footer-company-about{

  line-height: 20px;

  color:  #92999f;

  font-size: 13px;

  font-weight: normal;

  margin: 0;

}



.footer-distributed .footer-company-about span{

  display: block;

  color:  #ffffff;

  font-size: 14px;

  font-weight: bold;

  margin-bottom: 20px;

}



.footer-distributed .footer-icons{

  margin-top: 25px;

}



.footer-distributed .footer-icons a{

  display: inline-block;

  width: 35px;

  height: 35px;

  cursor: pointer;

  background-color:  #33383b;

  border-radius: 2px;



  font-size: 20px;

  color: #ffffff;

  text-align: center;

  line-height: 35px;



  margin-right: 3px;

  margin-bottom: 5px;

}



/* If you don't want the footer to be responsive, remove these media queries */



@media (max-width: 880px) {



  .footer-distributed{

    font: bold 14px sans-serif;

  }



  .footer-distributed .footer-left,

  .footer-distributed .footer-center,

  .footer-distributed .footer-right{

    display: block;

    width: 100%;

    margin-bottom: 40px;

    text-align: center;

  }



  .footer-distributed .footer-center i{

    margin-left: 0;

  }



}



/*//////////////////////////////////////////////////////////////////

[ Contact 2 ]*/

.bg-contact2 {

  		background-image: -moz-linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../../images/bg-01.jpg");

		background-image: -webkit-linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../../images/bg-01.jpg");

		background-image: -ms-linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../../images/bg-01.jpg");

		background-image: linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../../images/bg-01.jpg");

		background-attachment: fixed;

		background-position: center center;

		background-repeat: no-repeat;

		background-size: cover;

		padding-top: 0;



}



.container-contact2 {

  width: 100%;  

  min-height: 100vh;

  display: -webkit-box;

  display: -webkit-flex;

  display: -moz-box;

  display: -ms-flexbox;

  display: flex;

  flex-wrap: wrap;

  justify-content: center;

  align-items: center;

  padding: 15px;

  background: rgba(0, 0, 0, 0.4);

  background: -webkit-linear-gradient(45deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));

  background: -o-linear-gradient(45deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));

  background: -moz-linear-gradient(45deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));

  background: linear-gradient(45deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));

}



.wrap-contact2 {

  width: 790px;

  background: #fff;

  border-radius: 10px;

  overflow: hidden;

  padding: 72px 55px 90px 55px;

}





/*------------------------------------------------------------------

[  ]*/



.contact2-form {

  width: 100%;

}

.let{

  padding-bottom: 20px;



}



.report{

  display: block;

  font-family: Poppins-Bold;

  font-size: 15px;

  color: #333333;

  line-height: 0.5;

  text-align: center;

  padding-top: 10px;

  padding-bottom: 40px;

}

.contact2-form-title {

  display: block;

  font-family: Poppins-Bold;

  font-size: 35px;

  color: #333333;

  line-height: 0.5;

  text-align: center;

  padding-bottom: 10px;

}







/*------------------------------------------------------------------

[  ]*/



.wrap-input2 {

  width: 100%;

  position: relative;

  border-bottom: 2px solid #adadad;

  margin-bottom: 37px;

}



.input2 {

  display: block;

  width: 100%;



  font-family: Poppins-Regular;

  font-size: 15px;

  color: #555555;

  line-height: 1.2;

}



.focus-input2 {

  position: absolute;

  display: block;

  width: 100%;

  height: 100%;

  top: 0;

  left: 0;

  pointer-events: none;

}



.focus-input2::before {

  content: "";

  display: block;

  position: absolute;

  bottom: -2px;

  left: 0;

  width: 0;

  height: 2px;



  -webkit-transition: all 0.4s;

  -o-transition: all 0.4s;

  -moz-transition: all 0.4s;

  transition: all 0.4s;



  background: rgba(219,21,99,1);

  background: -webkit-linear-gradient(45deg, #d5007d, #e53935);

  background: -o-linear-gradient(45deg, #d5007d, #e53935);

  background: -moz-linear-gradient(45deg, #d5007d, #e53935);

  background: linear-gradient(45deg, #d5007d, #e53935);

}



.focus-input2::after {

  content: attr(data-placeholder);

  display: block;

  width: 100%;

  position: absolute;

  top: 0px;

  left: 0;



  font-family: Poppins-Regular;

  font-size: 13px;

  color: #999999;

  line-height: 1.2;



  -webkit-transition: all 0.4s;

  -o-transition: all 0.4s;

  -moz-transition: all 0.4s;

  transition: all 0.4s;

}



/*---------------------------------------------*/

input.input2 {

  height: 45px;

}



input.input2 + .focus-input2::after {

  top: 16px;

  left: 0;

}



textarea.input2 {

  min-height: 115px;

  padding-top: 13px;

  padding-bottom: 13px; 

  border: solid 2px rgba(4, 151, 145, 0.35);





}



textarea.input2 + .focus-input2::after {

  top: 16px;

  left: 0;

}



.input2:focus + .focus-input2::after {

  top: -13px;

}



.input2:focus + .focus-input2::before {

  width: 100%;

}



.has-val.input2 + .focus-input2::after {

  top: -13px;

}



.has-val.input2 + .focus-input2::before {

  width: 100%;

}



/*------------------------------------------------------------------

[ Button ]*/

.container-contact2-form-btn {

  display: -webkit-box;

  display: -webkit-flex;

  display: -moz-box;

  display: -ms-flexbox;

  display: flex;

  flex-wrap: wrap;

  justify-content: center;

  padding-top: 13px;

}



.wrap-contact2-form-btn {

  display: block;

  position: relative;

  z-index: 1;

  border-radius: 1px;

  width: auto;

  overflow: hidden;

  margin: 0 auto;

}



.contact2-form-bgbtn {

  position: absolute;

  z-index: -1;

  width: 300%;

  height: 100%;

  background: rgba(219,21,99,1);

  background: -webkit-linear-gradient(-135deg, #d5007d, #e53935, #d5007d, #e53935);

  background: -o-linear-gradient(-135deg, #d5007d, #e53935, #d5007d, #e53935);

  background: -moz-linear-gradient(-135deg, #d5007d, #e53935, #d5007d, #e53935);

  background: linear-gradient(-135deg, #d5007d, #e53935, #d5007d, #e53935);

  top: 0;

  left: -100%;



  -webkit-transition: all 0.4s;

  -o-transition: all 0.4s;

  -moz-transition: all 0.4s;

  transition: all 0.4s;

}



.contact2-form-btn {

  display: -webkit-box;

  display: -webkit-flex;

  display: -moz-box;

  display: -ms-flexbox;

  display: flex;

  justify-content: center;

  align-items: center;

  padding: 0 20px;

  min-width: 244px;

  height: 50px;



 



  font-family: Poppins-Medium;

  font-size: 16px;

  color: #fff;

  line-height: 1.2;

  



}



.wrap-contact2-form-btn:hover .contact2-form-bgbtn {

  left: 0;

}



/*------------------------------------------------------------------

[ Responsive ]*/



@media (max-width: 576px) {

  .wrap-contact2 {

    padding: 72px 15px 90px 15px;

  }

}







/*------------------------------------------------------------------

[ Alert validate ]*/



.validate-input {

  position: relative;

}



.alert-validate::before {

  content: attr(data-validate);

  position: absolute;

  max-width: 70%;

  background-color: white;

  border: 1px solid #c80000;

  border-radius: 2px;

  padding: 4px 25px 4px 10px;

  top: 50%;

  -webkit-transform: translateY(-50%);

  -moz-transform: translateY(-50%);

  -ms-transform: translateY(-50%);

  -o-transform: translateY(-50%);

  transform: translateY(-50%);

  right: 0px;

  pointer-events: none;



  font-family: Poppins-Regular;

  color: #c80000;

  font-size: 13px;

  line-height: 1.4;

  text-align: left;



  visibility: hidden;

  opacity: 0;



  -webkit-transition: opacity 0.4s;

  -o-transition: opacity 0.4s;

  -moz-transition: opacity 0.4s;

  transition: opacity 0.4s;

}



.alert-validate::after {

  content: "\f12a";

  font-family: FontAwesome;

  display: block;

  position: absolute;

  color: #c80000;

  font-size: 16px;

  top: 50%;

  -webkit-transform: translateY(-50%);

  -moz-transform: translateY(-50%);

  -ms-transform: translateY(-50%);

  -o-transform: translateY(-50%);

  transform: translateY(-50%);

  right: 8px;

}



.alert-validate:hover:before {

  visibility: visible;

  opacity: 1;

}



@media (max-width: 992px) {

  .alert-validate::before {

    visibility: visible;

    opacity: 1;

  }

}